.App {
  text-align: center;
}
/* body{
  background-color: ;
} */
.btn{
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover{
  background-color: white;
  border: 1px solid gray;
}
.h1{
  font-weight: 300;
  text-shadow: 10px white;
}
